{% extends "generic.html" %}

{% block content %}
<div id="title" class="hidden">{{ title }}</div>
<div id="markdown" class="hidden">{{ markdown|safe }}</div>
<main id="edit">
    <div id="selection">
        <button class="ribbon active" id="edit-button" onclick="switchToEdit()">Edit</button>
        <button class="ribbon" id="preview-button" onclick="switchToPreview()">Preview</button>
    </div>
    <div id="editor-tab">
        <div id="editor"></div>
        <div id="file-upload">
            <ul id="file-list">
                <input type="file" class="file-input">
                <div class="file-link"></div>
                </li>
            </ul>
        </div>
        <button id="save-button" type="submit">Save</button>
    </div>
    <div id="preview-tab" class="hidden text-content">
        <article class="rendered-markdown">
        </article>
    </div>
</main>
{% endblock %}

{% block end %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.2/min/vs/loader.js"></script>
<script type="text/javascript" src="/static/edit.js"></script>
{% endblock %}
