{% extends "generic.html" %}

{% block head %}
<style>
#edit {
    height: 100%;
}
</style>
{% endblock %}

{% block content %}
<div id="title" class="hidden">{{ title }}</div>
<div id="markdown" class="hidden">{{ markdown }}</div>
<main id="edit">
    <div id="editor"></div>
    <div id="file-upload">
        <ul id="file-list">
            <li>
                <input type="file" class="file-input">
                <div class="file-link"></div>
                <button>Delete</button>
            </li>
        </ul>
    </div>
    <button id="save-button" type="submit">Save</button>
</main>
{% endblock %}

{% block end %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.2/min/vs/loader.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.2/min/vs' }});

    window.MonacoEnvironment = {
      getWorkerUrl: function(workerId, label) {
        return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
          self.MonacoEnvironment = {
            baseUrl: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.2/min/'
          };
          importScripts('https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.2/min/vs/base/worker/workerMain.js');`
        )}`;
      }
    };

    require(["vs/editor/editor.main"], function () {
      window.editor = monaco.editor.create(document.querySelector("#editor"), {
          value: document.querySelector("#markdown").innerHTML,
          language: "markdown"
      });
    });

    (() => {
        const fileInput = document.querySelector(".file-input");
        fileInput.addEventListener("change", async () => {
            const file = fileInput.files[0];
            const data = new FormData();
            data.append("file", file);
            const resp = await fetch("/storage", {
                method: "PUT",
                credentials: "same-origin",
                body: data,
            });
            if (resp.status !== 200) {
                console.error(resp);
                return;
            }

            const body = await resp.json();
            document.querySelector(".file-link").innerHTML = `<a href=${body.url}>${body.url}</a>`;
        });
    })()


    document.querySelector("#save-button").addEventListener("click", async () => {
        const title = document.querySelector("#title").innerHTML;
        const encodedTitle = encodeURI(title);
        const response = await fetch("/edit/" + encodedTitle, {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                markdown: window.editor.getValue(),
            })
        });

        // TODO: handle diff if somebody else commited before
        if (response.status === 200) {
            window.location = "/wiki/" + encodedTitle;
        } else {
            console.error(response);
        }
    });
</script>
{% endblock %}
