<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %} {{ wiki.name }} {% endblock %}</title>
  {% block head %} {% endblock %}
  <link rel="stylesheet" href="/static/kairowiki.css">
  <link rel="stylesheet" href="/static/hl.css">
  <link rel="icon" href="{{ wiki.logo }}">
  <script src="/static/kairowiki.bundle.js" async></script>
</head>

<body>
  <nav>
    <a href="/">
      <img src="{{wiki.logo}}" alt="logo" height="100px">
    </a>
    <form id="searchbox" method="GET" action="/search">
      <input type="search" name="query" placeholder="Search">
      <input type="submit" id="search-submit" value="">
    </form>
    {% match wiki.login_status %}
    {% when Some with(account) %}
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
    {% when None %}
    <a href="/login" class="button">Login</a>
    {% endmatch %}
  </nav>
  {% block content %} {% endblock %}

  {% block end %} {% endblock %}
</body>

</html>
