<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %} {{ wiki.name }} {% endblock %}</title>
  {% block head %} {% endblock %}
  <link rel="stylesheet" href="/static/kairowiki.css">
  <link rel="stylesheet" href="/static/hl.css">
  <link rel="icon" href="{{ wiki.logo }}">
  <script src="/static/kairowiki.bundle.js" async></script>
</head>

<body>
  <div id="user-status">
    {% match wiki.login_status %}
    {% when Some with(account) %}
    <div>
      Logged in as: {{ account.name }}
    </div>
    <div>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
    </div>
    {% when None %}
    <div>
      <a href="/login">Login</a>
    </div>
    {% endmatch %}
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">
          <img src="{{wiki.logo}}" alt="logo" height="100px">
        </a>
      </li>
      <li>
        <form id="searchbox" method="GET" action="/search">
          <input type="search" name="query" placeholder="Search">
          <input type="submit" id="search-submit" value="">
        </form>
      </li>
    </ul>
  </nav>
  {% block content %} {% endblock %}

  {% block end %} {% endblock %}
</body>

</html>
