{% extends "generic.html" %}
{% block title %} {{ wiki.name }} - {{ title }} {% endblock %}

{% block content %}
<main id="history" class="flex-centered">
  <table>
    <thead>
      <tr>
        <td>Date</td>
        <td>User</td>
        <td>Commit id</td>
        <td>Summary</td>
      </tr>
    </thead>
    <tbody>
      {% for entry in history %}
      <tr>
        <td class="date">
          {{ entry.date }}
        </td>
        <td>
          <a href="mailto:{{ entry.user.email }}">
            {{ entry.user.name }}
          </a>
        </td>
        <td>
          <a class="rev" href="/wiki/{{ title }}?rev={{ entry.rev }}">
            {{ entry.rev }}
          </a>
        </td>
        <td>
          {{ entry.summary }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
