{% extends "generic.html" %}

{% block content %}
<!--- action intentionally left out  --->
<main class="flex-centered">
    <form method="POST">
        <ul class="vertical-form-list">
            <li>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </li>
            <li>
                <input type="submit" value="Login">
            </li>
    </form>
    {% if registration_enabled %}
        <a href="/register">Register</a>
    {% endif %}
</main>
{% endblock %}
