{% extends "generic.html" %}
{% block title %} {{ wiki.name }} - {{ title }} {% endblock %}

{% block content %}
<main id="wiki-article" class="text-content">
  <div id="wiki-article-head">
    <h1 class="wiki-article-title">{{ title }}</h1>
    <div class="buttons">
      <a href="/edit/{{ title }}" class="button">Edit</a>
      <a href="/history/{{ title }}" class="button">History</a>
    </div>
  </div>
  <article class="rendered-markdown">
    {{ content|safe }}
  </article>
</main>
{% endblock %}
