{% extends "generic.html" %}
{% block title %} {{ wiki.name }} - {{ title }} {% endblock %}

{% block content %}
<main id="wiki-article">
    <div id="wiki-article-head" class="center-padded">
        <h1 class="wiki-article-title">{{ title }}</h1>
        <div class="buttons">
            <a href="/edit/{{ title }}"><button>Edit</button></a>
            <a href="/history/{{ title }}"><button>History</button></a>
        </div>
    </div>
    <article class="center-padded">
        {{ content|safe }}
    </article>
</main>
{% endblock %}
