@import "~normalize.css/normalize.css";
@import "skeleton.css";

@font-face {
    font-family: ibm-plex-sans;
    src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Regular.woff2");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: ibm-plex-sans;
    font-size: 1.2rem;
}

@media (min-width: 20rem) {
    body > * {
        width: 15rem;
    }
}

@media (min-width: 40rem) {
    .rendered-markdown > h2 {
        font-size: 1.5rem;
    }

    .rendered-markdown > h1 {
        font-size: 2rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    body > * {
        width: 35rem;
    }
}

@media (min-width: 60rem) {
    .rendered-markdown > h2 {
        font-size: 1.5rem;
    }

    .rendered-markdown > h1 {
        font-size: 2rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    body > * {
        width: 55rem;
    }
}

body > * {
    margin: auto;
}

.rendered-markdown > h1 > a,
.rendered-markdown > h2 > a,
.rendered-markdown > h3 > a,
.rendered-markdown > h4 > a,
.rendered-markdown > h5 > a,
.rendered-markdown > h6 > a {
    text-decoration: none;
    color: black;
}

.rendered-markdown > h1 > a:hover::after,
.rendered-markdown > h2 > a:hover::after,
.rendered-markdown > h3 > a:hover::after,
.rendered-markdown > h4 > a:hover::after,
.rendered-markdown > h5 > a:hover::after,
.rendered-markdown > h6 > a:hover::after {
    content: " §";
}

.rendered-markdown > h1,
.rendered-markdown > h2,
.rendered-markdown > h3,
.rendered-markdown > h4,
.rendered-markdown > h5,
.rendered-markdown > h6 {
    margin-bottom: 0.5rem;
}

.rendered-markdown {
    word-wrap: break-word;
}

button:hover {
    background: lightgray;
}

button.tab {
    border: none;
    border-bottom: 2px solid;
    margin-bottom: 1rem;
}

button.tab.active {
    border-color: #1eaedb;
}

button.tab:focus {
    outline: 0;
}

pre {
    font-family: Iosevka, Fira Mono, Monaco, monospace;
}

#wiki-article {
    display: flex;
    flex-direction: column;
}

#wiki-article-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wiki-article-head > h1 > a {
    text-decoration: none;
    color: black;
}

#wiki-article h1 {
    margin-bottom: 1rem;
}

#wiki-article-head h1:hover::after {
    content: " #";
}

#wiki-article-head.buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    /*font-size: 1rem;*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav img {
    object-fit: fit;
    height: 4rem;
}

#searchbox {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 38px;
    flex-grow: 1;
}

#searchbox input[type="search"] {
    flex-grow: 1;
    font-size: 1rem;
}

#search-submit {
    background-image: linear-gradient(transparent, transparent),
        url("../img/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.vertical-form-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.vertical-form-list > li {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.vertical-form-list > li > input {
    font-size: 1.2rem;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    /* __really__ hide */
    display: none !important;
}

/* FIXME: */
footer {
    text-align: right;
}

#edit {
    display: flex;
    flex-direction: column;
}

#editor-tab {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.editor {
    height: 600px;
}

#file-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#file-list > li {
    display: flex;
    padding: 2px;
    height: 50px;
}

#file-list > li img {
    max-height: 50px;
    object-fit: fill;
}

#diff-view {
    display: flex;
    flex-direction: column;
}

#edit-view {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
}

#commit-msg {
    flex-grow: 1;
    margin-left: 1rem;
}

#notifications {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    position: absolute;
    right: 4em;
    top: 2em;
    list-style: none;
    background: white;
}

#notifications > li {
    min-width: 20rem;
    border: dotted 1px;
    padding: 1em;
}

.captioned-image {
    float: right;
    display: table;
    border: solid 1px #bbb;
    border-radius: 4px;
    padding: 4px;
}

.rendered-markdown img {
    max-height: 800px;
    max-width: 400px;
}

.captioned-image > img {
    display: table-cell;
}

.captioned-image > figcaption {
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
}

.rev {
    font-family: Iosevka, Fira Mono, Monaco, monospace;
}

#menu {
    display: flex;
    align-content: center;
    justify-content: center;
}

#menu form {
    padding-left: 4px;
}

#search-results ul {
    list-style-type: none;
    width: inherit;
}

#search-results ul li {
    padding-bottom: 0.5rem;
    border-bottom: black solid 1px;
}

.title-link {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
}

.article-preview {
    font-size: 1rem;
}

label.button input[type="file"] {
    position: absolute;
    top: -1000px;
}
