@import "~normalize.css/normalize.css";
@import "skeleton.css";

body {
    display: flex;
    flex-direction: column;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: auto;
}

@media (min-width: 20rem) {
    nav > ul {
        width: 15rem;
    }
    .text-content {
        width: 15rem;
    }
}

@media (min-width: 40rem) {
    nav > ul {
        width: 35rem;
    }
    .rendered-markdown > h2 {
        font-size: 1.5rem;
    }
    .rendered-markdown > h1 {
        font-size: 2rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    .text-content {
        width: 35rem;
    }
}

@media (min-width: 60rem) {
    .rendered-markdown > h2 {
        font-size: 1.5rem;
    }
    .rendered-markdown > h1 {
        font-size: 2rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    nav > ul {
        width: 55rem;
    }
    .text-content {
        width: 55rem;
    }
}

.text-content {
    padding: 2rem;
    margin: auto;
}

.rendered-markdown > h1 > a,
.rendered-markdown > h2 > a,
.rendered-markdown > h3 > a,
.rendered-markdown > h4 > a,
.rendered-markdown > h5 > a,
.rendered-markdown > h6 > a {
    text-decoration: none;
    color: black;
}

.rendered-markdown > h1 > a:hover::after,
.rendered-markdown > h2 > a:hover::after,
.rendered-markdown > h3 > a:hover::after,
.rendered-markdown > h4 > a:hover::after,
.rendered-markdown > h5 > a:hover::after,
.rendered-markdown > h6 > a:hover::after {
    content: " §";
}

/*
button {
    border: 1px solid;
    color: black;
    background: #f0f0f0;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
*/

button:hover {
    background: lightgray;
}

button.tab {
    border: none;
}

button.tab.active {
    border-bottom: 2px solid;
}

button.tab:focus {
    outline: 0;
}

body {
    font-family: Liberation Sans, Noto Sans, Sans;
}

pre {
    font-family: Iosevka, Fira Mono, Monaco, monospace;
}

#wiki-article {
    display: flex;
    flex-direction: column;
}

#wiki-article-head {
    display: flex;
    justify-content: space-between;
}

#wiki-article-head.buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1em;
}

#searchbox {
    display: flex;
    height: 2rem;
    font-size: 2rem;
}

#searchbox input[type="search"] {
    font-size: 1.2rem;
}

#search-submit {
    background-image: linear-gradient(transparent, transparent),
        url("../img/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.vertical-form-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.vertical-form-list > li {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.vertical-form-list > li > input {
    font-size: 1.2rem;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    /* __really__ hide */
    display: none !important;
}

/* FIXME: */
footer {
    text-align: right;
}

#edit {
    display: flex;
    flex-direction: column;
}

#editor-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#editor {
    /* FIXME: I have no idea how css works */
    height: 600px;
}

#diff-editor {
    height: 600px;
}

#file-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#file-list > li {
    display: flex;
}

#diff-view {
    display: flex;
    flex-direction: column;
}

#edit-view {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

#notifications {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    position: absolute;
    right: 4em;
    top: 2em;
    list-style: none;
}

#notifications > li {
    min-width: 30em;
    /*
    display: flex;
    flex-direction: column;
    */
    border: dotted 1px;
    padding: 1em;
}

.captioned-image {
    float: right;
    display: table;
    border: solid 1px #bbb;
    border-radius: 4px;
    padding: 4px;
}

.text-content img {
    max-height: 800px;
    max-width: 400px;
}

.captioned-image > img {
    display: table-cell;
}

.captioned-image > figcaption {
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
}

.rev {
    font-family: Iosevka, Fira Mono, Monaco, monospace;
}
